@font-face {
  font-family: "Visuelt Pro";
  src: url("../fonts/VisueltPro-Bold.ttf") format("truetype"),
      url("../fonts/VisueltPro-Bold.woff") format("woff"),
      url("../fonts/VisueltPro-Bold.woff2") format("woff2");
  font-weight: bold;
}

@font-face {
  font-family: "Visuelt Pro";
  src: url("../fonts/VisueltPro-Regular.ttf") format("truetype"),
      url("../fonts/VisueltPro-Regular.woff") format("woff"),
      url("../fonts/VisueltPro-Regular.woff2") format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: "Visuelt Pro Medium";
  src: url("../fonts/VisueltPro-Medium.ttf") format("truetype"),
      url("../fonts/VisueltPro-Medium.woff") format("woff"),
      url("../fonts/VisueltPro-Medium.woff2") format("woff2");
  font-weight: medium;
}

@font-face {
  font-family: "Visuelt Pro";
  src: url("../fonts/VisueltPro-Light.ttf") format("truetype"),
      url("../fonts/VisueltPro-Light.woff") format("woff"),
      url("../fonts/VisueltPro-Light.woff2") format("woff2");
  font-weight: lighter;
}
/* 
html {
  font-family: "Visuelt Pro";
} */

/* body {
  font-family: "Visuelt Pro";
} */
